body {
    font-family: Arial, sans-serif;
    background-image: url('backcontent.jpg');
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f3d0d0;
    color: #333;
    scroll-behavior: smooth;
}

header {
    background: #333;
    color: #fff;
    padding: 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-size: 20px;
    padding: 6px;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700; /* Change this color to your preferred hover color */
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.8); /* Change shadow color to match hover color */
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background: #fff;
    margin: 1rem 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    margin: 0.5rem 0;
}

section img {
    max-width: 40%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

section[id]::before {
    content: "";
    display: block;
    height: 80px; /* Adjust this value based on the height of your header */
    margin-top: -80px; /* Adjust this value based on the height of your header */
    visibility: hidden;
}

#green div,
#forest div {
    padding-left: 2rem; /* Adjust this value to move the text more to the right */
    background-color: antiquewhite;
}



footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
}

.scroll-to-top {
    width: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #0a2744;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    display: none;
    z-index: 1000;
}

.scroll-to-top:hover {
    background: #005bb5;
}